<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
  <div id="remoteVideosContainer"></div>
  <div class="midcontainer">
    <table>
      <tbody class="viewbody">
        <tr
          class="viewrow"
          ng-repeat="stream in rtc.remoteStreams"
          ng-class="{ selected: stream.isPlaying }"
        >
          <td ng-click="rtc.view(stream)">
            <img
              class="viewimg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKfCOj1fNoV42CWooL2ykw_7nC-9zho6ItFg&usqp=CAU"
            />

            <a class="three">{{ stream.name }}</a>
          </td>
          <!-- <td >
            <a class="three">View</a>
          </td> -->
          <!-- <td ng-click="rtc.call(stream)"><a class="three">Call</a></td> -->
        </tr>
      </tbody>
    </table>

    <li id="refreshcnt" ng-click="rtc.loadData()">
      <a id="refresh" href>Refresh</a>
    </li>
  </div>
  <div class="bottomcnt">
    <div class="bottom1">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="bottom2"></div>
    <div class="bottom1">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <div class="remoteStreams"></div>
</div>
