<!DOCTYPE html>
<html ng-app="projectRtc">
  <head>
    <title>View page</title>
    <base href="/" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/adapter.js"></script>
    <script type="text/javascript" src="javascripts/rtcClient.js"></script>

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"
    ></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>

  <body>
    <div class="container"><%= include remote-streams %></div>
  </body>
  <script>
    var table = document.querySelector("table");
    var midcontainer = document.querySelector(".midcontainer");
    var bottomcnt = document.querySelector(".bottomcnt");
    var refreshcnt = document.querySelector("#refreshcnt");
    var remoteVideosContainer = document.querySelector(
      "#remoteVideosContainer"
    );
    var back = document.querySelector(".back");
    setInterval(() => {
      refreshcnt.click();
    }, 1000);
    table.addEventListener("click", function (e) {
      if (
        e.target.className === "viewimg" ||
        e.target.className === "three ng-binding"
      ) {
        midcontainer.style.display = "none";
        back.style.display = "initial";
        bottomcnt.style.display = "none";
      }
    });
    back.addEventListener("click", function () {
      midcontainer.style.display = "initial";
      back.style.display = "none";
      remoteVideosContainer.innerHTML = "";
      bottomcnt.style.display = "initial";
    });
  </script>
</html>
